In [1]:
#reusable block of code and can be used anywhere,func() has to be defined before calling
#built-in fun():-
#max(),min(),sum()
#user-defined func():-
#no args and no return
#args and no return
#args and return
#no args and return
#anonymous func:-
#functions with no name
#eg.Lambda,Mapping,Filter,Zip,Enumerate

In [2]:
#def fun_name(args):
#this is the syntax of function definition
#def - keyword to start fn.
#fun_name - function name
#args - parameters to be used
#AFTER CREATING THE FUNCTION YOU MUST CALL THE FUNCTION
#fun_name(args)

In [3]:
def add(a,b):   #function definition
    return a+b
add(5,6)        #function call

11

In [5]:
# 1.no argument and no return statement
def greet():
    print("hi")
greet()
greet()
greet()

hi
hi
hi

In [12]:
def area_circle():
    r=int(input("enter radius:"))
    area=22/7*(r**2)
    print(area)
area_circle()

enter radius: 10

314.2857142857143

In [40]:
def area_triangle():
    b=int(input("enter base"))
    h=int(input("enter height"))
    area= 1/2*b*h
    print(area)
area_triangle()

enter base 10
enter height 10

50.0

In [30]:
def a_c():
    r=int(input("enter radius"))
    area=3.14*(r**2)
    print(area)
    if area>100:
        print("area greater than 100")
    else:
        print("area is less than 100")
a_c()

enter radius 10

314.0
area greater than 100

In [32]:
#2.no arg and with return statement
def a_c():
    r=int(input("enter radius"))
    area=3.14*(r**2)
    return area
res=a_c()
if res>100:
    print("area greater than 100")
else:
    print("area is less than 100")

enter radius 10

area greater than 100

In [47]:
def triangle():
    l,b,h=input('enter lenght , base , height : ').split(',')
    l=int(l)
    b=int(b)
    h=int(h)
    if l==b==h:
        return("equvilateral")
    elif (l==b) or (b==h) or (l==h):
        return("isosceles")
    else:
        return "scalene"
triangle()

enter lenght , base , height :  10,11,10

'isosceles'

In [48]:
#3.with arguments and no return statements
def area_rec(l,b):
    area=l*b
    print(area)
area_rec(10,5)

50

In [49]:
#with arg no return statement
def area_rec(l,b):
    area=l*b
    print(area)
l,b=input("enter a number :").split(",")
area_rec(int(l),int(b))

enter a number : 13,5

65

In [51]:
#no arg with return statement 
def area_rec():
    l,b=input("enter a number :").split(",")
    area=int(l)*int(b)
    print(area)
area_rec()

enter a number : 13,5

65

In [53]:
def bmi(weight,h_cm):
    h_m=h_cm/100
    bmi=weight/(h_m**2)
    if bmi<18.5:
        print("underweight")
    elif bmi>=18.5 and bmi<=24.9:
        print("normal")
    else:
        print("overweight")
bmi(54,170)

normal

In [64]:
#4. with arguments and with return statements 
def bmi(weight,h_cm):
    h_m=h_cm/100
    bmi=weight/(h_m**2)
    if bmi<18.5:
        res="underweight"
    elif bmi>=18.5 and bmi<=24.9:
        res="normal"
    else:
        res="overweight"
    return bmi,res
for i in range(2):
    name,w,h=input("enter the name,weight and height :").split(",")
    bmi1,res1=bmi(int(w),int(h))
    print(f'name:{name},bmi:{bmi1}, comes under {res1} category')

enter the name,weight and height : bac,50,170

name:bac,bmi:17.301038062283737, comes under underweight category

enter the name,weight and height : nyc,88,178

name:nyc,bmi:27.77427092538821, comes under overweight category

In [68]:
#inorder to extract multiple arguments we use arguments
def extract_firstchar(*args): #if you want to enter multiple arguments then you have to use pointer('*') eg(*args)
    list1=[]
    print(args)
    for i in args:
        list1.append(i[0])
    return list1
res=extract_firstchar('apple','banana','cherry','dragonfruit')
print(res)

('apple', 'banana', 'cherry', 'dragonfruit')
['a', 'b', 'c', 'd']

In [69]:
#anonymous function:-
#LAMBDA FUNCTION 
#in python are anonymous function that can be defined without a name
# using the keyword lambda
#lambda arguments : expression

In [70]:
#key-point:
#no need to give with a def keyword:
#can take multiple arguments but only one expression
#expression is evaluated and automatically returned without using return

In [71]:
res=lambda b:(b**2)
res(6)

36

In [73]:
r=lambda a,b,c:a+b+c
r(10,25,39)

74

In [77]:
res=lambda a,b:a%b
res(77,10)

7

In [81]:
r=lambda str:str[4:7]
r('datamites')

'mit'

In [83]:
#with default arguments
res4=lambda a=2,b=3:a+b
print(res4(6,5))
print(res4())

11
5

In [85]:
#list comphrehension
l=[]
for i in range(1,6):
    l.append(i**2)
l

[1, 4, 9, 16, 25]

In [86]:
l=[i**2 for i in range(1,6)]
l

[1, 4, 9, 16, 25]

In [89]:
l=[]
for i in range(50,61):
    if i%2==0:
        l.append(i)
l

[50, 52, 54, 56, 58, 60]

In [90]:
l=[i for i in range(50,61) if i%2==0]
l

[50, 52, 54, 56, 58, 60]

In [94]:
l=["data","mites"]
rev=[i[::-1] for i in l]
rev

['atad', 'setim']

In [96]:
str1="datamites"
list1=['a','e','i','o','u']
list2=[]
for i in str1:
    if i in list1:
        list2.append(i)
    else:
        list2.append('-')
list2

['-', 'a', '-', 'a', '-', 'i', '-', 'e', '-']

In [97]:
str1="datamites"
list1=['a','e','i','o','u']
list2=[i if i in list1 else'-' for i in str1]
print(list2)

['-', 'a', '-', 'a', '-', 'i', '-', 'e', '-']

In [98]:
#order if only for and if then 1st place for-if
#if and else are also there then if-else-for (for will come at the last)

In [99]:
res=lambda x:x**3
res1=[res(i) for i in range(1,11)]
res1

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [100]:
list1=["data","mites","anna nagar"]
res= lambda x:x[::-1]
rev=[res(i) for i in list1]
rev

['atad', 'setim', 'ragan anna']

In [101]:
#Zip Function
#combine two or more iterables into a zip

In [102]:
list1 =[2,3,4]
list2=['a','b','c']
zipped=list(zip(list1,list2))
zipped1=dict(zip(list1,list2))
print(zipped)
print(zipped1)

[(2, 'a'), (3, 'b'), (4, 'c')]
{2: 'a', 3: 'b', 4: 'c'}

In [103]:
a=['h','b','c']
b=(25,30,40)
c=['fail','fail','pass']
zipped=zip(a,b,c)
print(list(zipped))
print(dict(zipped))#when 3 iterables are provided list conversion will not work

[('h', 25, 'fail'), ('b', 30, 'fail'), ('c', 40, 'pass')]
{}

In [105]:
res1=list(zip(b,c))
dict(zip(a,res1))#created dictionary with multiple values

{'h': (25, 'fail'), 'b': (30, 'fail'), 'c': (40, 'pass')}

In [108]:
#FILTER METHOD:
seq=[0,1,2,3,5,8,13]
res=filter(lambda x:x%2==0,seq)#return boolean value in the backend
print(res)
list(res) #extract the element where boolean value is True

<filter object at 0x000001594EFBFC40>

[0, 2, 8]

In [109]:
#FILTER METHOD:
seq=[0,1,2,3,5,8,13]
res=filter(lambda x:x%2!=0,seq)#return boolean value in the backend
print(res)
list(res) #extract the element where boolean value is True

<filter object at 0x000001594EF5D780>

[1, 3, 5, 13]

In [114]:
words =['apple','banana','cherry','avocado','apricot']
res=filter(lambda x:x.startswith('a'),words)
list(res)

['apple', 'avocado', 'apricot']

In [115]:
words =['apple','banana','cherry','avocado','apricot']
res=filter(lambda x:x.count('a')>2,words)
list(res)

['banana']

In [116]:
words =['apple','banana','cherry','avocado','apricot']
res=filter(lambda x:x.endswith('e'),words)
list(res)

['apple']

In [117]:
#MAP FUNCTION
#map() function in python is used to apply a function to each item of an iterable(like list,tuple or set)
#and return a map object(an iterator)
#map(function,iterable)

In [118]:
numbers = ['1','2','3','4','5']#it is in str
res = map(int,numbers)#we are forcetype casting into list using map func
print(res)
r=list(res)
r

<map object at 0x000001594EFBEDD0>

[1, 2, 3, 4, 5]

In [122]:
a,b=map(int,input('enter a number').split())
print(a,b)
print(type(a))

enter a number 18 20

18 20
<class 'int'>

In [126]:
n=[5.92,8.298,38.92,4.6]
res=map(lambda x:round(x,1),n)
list(res)

[5.9, 8.3, 38.9, 4.6]

In [129]:
n1=[2,3,4,5]
n2=[6,7,8,9]
r=map(lambda x,y:x+y ,n1,n2)
list(r)

[8, 10, 12, 14]

In [143]:
seq=[0,1,2,3,4,8,13]
res=map(lambda x:x*2,seq)
p=list(res)
p1=filter(lambda x:x>10,p)
print(list(p))
print(list(p1))

[0, 2, 4, 6, 8, 16, 26]
[16, 26]

In [144]:
#or you can give like 
list(filter(lambda x:x>10,map(lambda x:x*2,seq)))

[16, 26]

In [145]:
#ENUMERATE FUNCTION
#provides integer value for each and every elements in an iterable

In [148]:
fruits=['apple','banana','cherry']
for i,fruits in enumerate(fruits): #for enumerate after for you have to give any 2 values lyk(i or s or b, fruits)
    print(i,fruits)#by default it will start with zero (0 apple) until we provide start=1,2,or something

0 apple
1 banana
2 cherry

In [150]:
fruits=['apple','banana','cherry']
for i,fruits in enumerate(fruits,start=1):
    print(i,fruits)

1 apple
2 banana
3 cherry

In [151]:
num=[3,4,5,6,192,273]
r=[x**3 for x in num]
for index,value in enumerate(r,start=1):
    print(index,value)

1 27
2 64
3 125
4 216
5 7077888
6 20346417