In [1]:
#unordered,unindexed and elements are unique,no duplication of data are allowed.
#we cannot create a empty set with '{}' bracckets
#if we want to create then we need to give as 
myset=set()
print(type(myset))

<class 'set'>

In [2]:
myset1={2,3}
type(myset1)

set

In [5]:
myset={1,2,3,4,5,5}
myset

{1, 2, 3, 4, 5}

In [6]:
len(myset)

5

In [12]:
myset={2,3,1}
myset.add(6)
myset

{1, 2, 3, 6}

In [13]:
myset.update(['ten','eleven','twelve'])
myset

{1, 2, 3, 6, 'eleven', 'ten', 'twelve'}

In [15]:
myset.remove(2)
myset

{1, 3, 6, 'eleven', 'ten', 'twelve'}

In [21]:
myset.discard(6)
myset

{1, 3, 'eleven', 'ten', 'twelve'}

In [33]:
myset.update(['1','2','3','eleven','ten','twelve'])
myset

{'1', '2', '3', 'eleven', 'ten', 'twelve'}

In [34]:
myset.pop()

'3'

In [35]:
myset

{'1', '2', 'eleven', 'ten', 'twelve'}

In [36]:
myset.clear()
myset

set()

In [41]:
#we can use del method also
myset1

{2, 3}

In [44]:
del myset1
#it is deleted

NameError: name 'myset1' is not defined

In [47]:
A={1,2,3,4,5}
B={4,5,6,7,8}
C={8,9,10}
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [48]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [51]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [65]:
A={1,2,3,4,5}
B={4,5,6,7,8}
C={8,9,10}
list1=[78,90,32,89,32,32,89,78,90,78,90,32]
#{78:3,90:3,32:4,89:2}

In [81]:
set1=set(list1)
list2=list(set1)
list2

[32, 89, 90, 78]

In [84]:
dict1={}
dict1[list2[0]]=list1.count(list2[0])
dict1

{32: 4}

In [89]:
dict1.update({list2[1]:list1.count(list2[1]),list2[2]:list1.count(list2[2]),list2[3]:list1.count(list2[3])})
dict1

{32: 4, 89: 2, 90: 3, 78: 3}

In [90]:
A.intersection(B)

{4, 5}

In [91]:
B.difference(A)

{6, 7, 8}

In [92]:
A.difference(B)

{1, 2, 3}

In [97]:
#COMPARISON OPERATOR
x=20
y=30
print(x>y)
print(x<y)
print(x<=y)
print(x>=y)
print(x==y)
print(x!=y)

False
True
True
False
False
True

In [99]:
#LOGICAL OPERATOR
#AND/OR/NOT{3 CASES}
#AND USED WHEN ALL CONDITIONS IS SATISFIED
#OR USED WHEN ATLEAST ONE CONDITION IS SATISFIED
#NOT IT IS THE REVERSE OF THE STATEMENT lyk true will be converted to false and false converted to true(basically it is oppo of AND operator)
#MEMBERSHIP OPERATOR
#1.in 2.not in (eg. list=[1,2,3,4] 2 in list1)
#CONDITIONAL EXECUTION
#IF statement eg.

In [107]:
age=18
if age>=18:
    print("you are an adult")

you are an adult

In [108]:
num =78
if num>0:
    print('positive')

positive